.teal-bg {
  background-color: teal;
}

.tomato-bg {
  background-color: tomato;
}

.salmon-bg {
  background-color: salmon;
}

.silver-bg {
  background-color: silver;
}

.peru-bg {
  background-color: peru;
}

.orange-bg {
  background-color: orange;
}

.maroon-bg {
  background-color: maroon;
}

.magenta-bg {
  background-color: magenta;
}

.lightcoral-bg {
  background-color: lightcoral;
}

.khaki-bg {
  background-color: khaki;
}

.indianred-bg {
  background-color: indianred;
}

.hotpink-bg {
  background-color: hotpink;
}

.fuchsia-bg {
  background-color: fuchsia;
}

.deeppink-bg {
  background-color: deeppink;
}

.coral-bg {
  background-color: coral;
}

.springgreen-bg {
  background-color: springgreen;
}

.snow-bg {
  background-color: snow;
}

.aqua-bg {
  background-color: aqua;
}

.oranged-bg {
  background-color: orangered;
}

.olive-bg {
  background-color: olive;
}

.greenyellow-bg {
  background-color: greenyellow;
}

.goldenrod-bg {
  background-color: goldenrod;
}

.gold-bg {
  background-color: gold;
}

.cyan-bg {
  background-color: cyan;
}

.purple-bg {
  background-color: purple;
}

.brown-bg {
  background-color: brown;
}

.gray-bg {
  background-color: gray;
}

.green-bg {
  background-color: green;
}

.blue-bg {
  background-color: blue;
}

.red-bg {
  background-color: red;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}

.whitesmoke-bg {
  background-color: whitesmoke;
}

.transparent-bg {
  background-color: transparent;
}