.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.row > * /* or: .col-3, .col-4, .col-6, .col-12 */ {
  padding: 0 10px;
  margin-bottom: 5px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 767px) /* responsive the grid system */ {
  .row {
    width: 100%;
    flex-direction: column;
  }
  .row > * /* or: .col-3, .col-4, .col-6, .col-12 */ {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
